.flex-item {
    width: 95rpx;
    height: 36px;
}

.kcb-item {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

* {
    padding: 0%;
    margin: 0%;
}

.calendar {
    margin: 45px;
    width: 300px;
    position: relative;
    top: 20px;
    left: -5px;
    background: white;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, .1);
}

.title {
    height: 70px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    text-align: center;
}

#calendar-title {
    font-size: 25px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 14px 0 0 0;
}

#calendar-year {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

#prev {
    position: relative;
    top: 0px;
    left: 0px;
    background: url(./png/prev.png) no-repeat 50% 50%;

    /*没规定大小时，图片显示 0X0*/
    width: 60px;
    height: 70px;

}

#next {
    position: relative;
    top: 0px;
    right: 0px;
    background: url(./png/next.png) no-repeat 50% 50%;
    width: 60px;
    height: 70px;
}

.body-list ul {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;

}

.body-list ul li {
    list-style: none;
    display: block;
    width: 14.28%;
    float: left;
    height: 36px;
    line-height: 36px;
    box-sizing: border-box;
    text-align: center;

}


.green {
    color: #6ac13c;
}

.lightgrey {
    /*浅灰色显示过去的日期*/
    color: #a8a8a8;
}

.darkgrey {
    /*深灰色显示将来的日期*/
    color: #565656;
}

/*日期当天用绿色背景绿色文字加以显示*/
.greenbox {
    border: 1px solid #6ac13c;
    background: #e9f8df;
}